 .jsss{
		animation: change 4s linear 0s infinite;		
	}
	@keyframes change {	
		0% {
			color: black
		}
		30%{
			color:yellow
		}
		50% {
			color: blue
		}	
		80% {
			color: red
		}	
		100% {color: pink
		
		}	
	}
