@charset "UTF-8";
ul .li{
	color:#666;
	
};
a{  color:white;
}
.li:hover {background-color:red;
		color:white;
}
.caidan>li{
	
	height:300px;
	width:200px;
	
}
.saixun{
	display:inline;
}
.saixuan>li{
	float:left;margin:50px 0 0 50px;
}